.about {
  padding: 60px 0;
}

.about__container {
  max-width: 1174px;
  padding-inline: 32px;
  width: 100%;
  margin: 0 auto;
}

.about__title {
  font-family: "Cormorant", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 48px;
  line-height: 46px;
  color: #fff;
}

.about__info {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.about__img {
  width: 100%;
  min-height: 493px;
  background: url('../pictures/about-card.png') no-repeat left center/100% #0B1919;
}

.about__card {
    flex: 1 0 auto;
    background: #BAE249;
    padding: 16px 16px 24px;

    @media (min-width: 768px) {
      flex: 1 0 255px;
    }
}

.about__card-subtitle {
  font-family: "Cormorant", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #1D2F30;
}

.about__card-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #506829;
  margin-top: 8px;
}

.about__link {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 75px;
  cursor: pointer;
}

.about__link:hover  {
  color: #688B05;
}
