.contact {
  max-width: 1920px;
  padding: 60px 160px;
  background-image: url("../pictures/banner-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact__container {
  max-width: 836px;
}

.contact__title {
  font-family: "Cormorant", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #ffffff;
  font-style: italic;
  margin-bottom: 19px;
}

.contact__descr {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 24px;
}



.form__label {
  display: block;
  margin-bottom: 26px;
}

.form__label-input {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #899D9D;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    transition: 0.3s ease-in;
    width: 350px;
    
}

.form__label-input:hover {
    background-color: #899D9D;
    color: red;
}

.form__button {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    background-color: #BAE249;
    color: #0B1919;
    border: none;
    padding: 12px 26px;
    transition: 0.3s ease-in;
}

.form__button:hover {
    background: #91AC46;
    cursor: pointer;
}
