.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1D2F30;

}

.nav {
    display: none;
}

.buttons-container {
    display: flex;
    align-items: center;
}




























/* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
.nav button {
    margin: 0 10px;
    padding: 10px 15px;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.nav button:hover {
    background-color: #555;
}
.right-buttons {
    display: flex;
}
.right-buttons button {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.right-buttons button:hover {
    background-color: #555;
} */