.header {
  max-width: 1920px;
  padding: 0 164px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1d2f30;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.nav {
  display: flex;
  gap: 40px;
}
.nav__button {
  color: #ffffff;
  transition: 0.3s;
}

.nav__button:hover {
  color: #bae249;
  cursor: pointer;
}

.buttons-container {
  display: flex;
  gap: 64px;
  transition: 0.3s;
}

.buttons-container__button {
  cursor: pointer;
}

.buttons-container__button:hover svg path {
  stroke: #91ac46;
}
