.hero {
  max-width: 1920px;
  background-image: url("../pictures/banner-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 115px 164px 115px;
}

.hero__container {
  max-width: 688px;
}

.hero__title {
  margin: 0 0 22px;
  font-family: "Cormorant", sans-serif;
  font-weight: 700;
  line-height: 60px;
  font-size: 60px;
  color: #ffffff;
}

.hero__descr {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  color: #ffffff;
}

.hero__link {
  display: flex;
  align-items: center;
  margin-top: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #bae249;
  text-decoration: none;
}

.hero__link:hover {
  color: #91ac46;
  cursor: pointer;
}

.hero__link-icon:hover {
  fill: #91ac46;
}
